@charset "UTF-8";

//引入element plus样式
@use 'element-plus/theme-chalk/src/index' as *;
//暗黑主题
@use 'element-plus/theme-chalk/src/dark/css-vars' as *;

* {
  user-select: none;
}

//滚动条样式
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbbbbb;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-color-primary);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}
