/* elementplus自定义主题色 */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #ec4141
    )
  ),
  $bg-color: (
    'page': #ffffff
  )
);

@use './dark.scss' as *;

//自定义颜色
html {
  --font1: 20px;
  --font2: 18px;
  --font3: 14px;
  --font4: 12px;
  --h1: #333333;
  --h2: #666666;
  --h3: #999999;
  --border-color: #dcdcdc;
  --bg-color: #eeeeee;
  --bg-color-2: #aaaaaa;
  --bg-color-3: #fafafa;
}

$theme: var(--el-color-primary);
$theme-light: var(--el-color-primary-light-3);
$theme-dark: var(--el-color-primary-dark-2);
$border-radius: 4px;
$border: 1px solid var(--border-color);
$block-padding: 20px;
$inline-padding: 10px;
$love-padding: 10px;
$block-margin: 20px;
$inline-margin: 10px;
$love-margin: 10px;
